<section class="/Users/dam1mac96/Desktop/oFloral/frontend/src/assets/1111.JPG">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

                <div class="img1">
                    <img src="assets/FLORAL (2).png" alt="image sample" style="width: 100%;">
                 </div>

              <h2 class="text-lowercase text-left mb-5">SignUp...</h2>

              <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email...">
                  </div>


                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number...">
                  </div>


                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password...">

                  </div>

      
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirm password...">
                  </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-primary btn-sm">Continue</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>