<!-- <app-nav></app-nav> -->

  <div class="card-deck">
    <div class="card">
    <img class="card-img-top" src="assets/yellow_gerberas.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Annuals</h5>
      <p class="card-text"></p>
      <button type="button" class="btn btn-link">Shop Now</button>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/Pastel-Mixed-Roses-235VA.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Perennials</h5>
      <p class="card-text"></p>
      <button type="button" class="btn btn-link">Shop Now</button>
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/Sweet fresh flowers.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Annual/Perennial(Hybrid)</h5>
      <p class="card-text"></p>
      <button type="button" class="btn btn-link">Shop Now</button>

    </div>
  </div>
  <div class="card">
      <img class="card-img-top" src="assets/Bright happy bouquet.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Biennials</h5>
        <p class="card-text"></p>
        <button type="button" class="btn btn-link">Shop Now</button>
      </div>
    </div>
  </div>
  

 
