<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">

                <div class="img1">
                    <img src="assets/1111.JPG" alt="image sample" style="width: 100%;">
                 </div>
              <h2 class="text-lowercase text-center mb-5">Welcome</h2>
              <h2 class="text-lowercase text-center mb-5">Please sign in to continue</h2>

              <form>

                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email...">
                  </div>


                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number...">
                  </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <label class="form-check-label" for="form2Example3g"><a href="#!" class="text-body"><u>Forgot password?</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="#!"
                    class="fw-bold text-body"><u>SignUp here</u></a></p>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
